/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.row.display {
  margin-bottom: 5px;
}

.row.collapse.display {
  margin-bottom: 5px;
}

div#footer {
    background-color: #333;
    color: #777;
    padding: 24px 0 10px;
}

/* CssStickyFooter.com */
html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
}

#footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
}

/* Opera fix */
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

