<h1>About AdmitAll</h1>

<p>AdmitAll is an AngularJS application to view the backup file created by the AdmitOne Movie Catalog app for Android Devices. The export file is read and displayed to allow filtering and sorting of the movies.</p>

<img src="http://www.themoviedb.org/images/logos/tmdb-logo-1.png"></img>
<p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>

<p>The source code for this application is available on GitHub at <a href="https://github.com/tskaufma/admitall-movies">https://github.com/tskaufma/admitall-movies</a></p>

