<h1>Movie List</h1>

<p>Last Update: {{movieData.updatedDate | date:medium}}</p>

<div class="row collapse">
    <div class="small-1 columns">
        <span class="prefix">
            <i class="fi-magnifying-glass" />
        </span>
    </div>
    <div class="small-11 columns">
        <input type="text" ng-model="query.name" ng-change="search()" ></input>
    </div>
</div>

<div class="row">
<div class="small-offset-1 small-10 columns">
<ul class="no-bullet">
    <li ng-repeat="movie in filteredItems | startFrom:pager.currentPage*pager.pageSize | limitTo:pager.pageSize">
        <div class="row collapse display">
            <div class="small-3 columns">
                <a href="#/movie/{{movie._id}}"><img ng-src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w92{{movie.posterPath}}"></img></a>
            </div>
            <div class="small-9 columns">
                <div class="row">
                    <div class="small-12">
                <a href="#/movie/{{movie._id}}">{{movie.name}} ({{movie.releaseDate | parseDate:'YYYY-MM-DD' | date:'yyyy' }})</a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12">
                    <span><i class="fi-monitor"></i> {{movie.format}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12">
                    <span><i class="fi-star"></i> {{movie.otherRating | number:1}}/10</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12">
                    <span><i class="fi-pricetag-multiple"></i> {{movie.genres | listNames}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12">
                    <span><i class="fi-torso"></i> {{movie.cast | limitTo:3 | listNames}}</span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>
</div>
<div class="row">
<div class="small-offset-1 small-10 columns">
    <ul class="pagination">
        <li class="arrow" ng-class="{unavailable: !pager.canPrev()}">
            <a href ng-click="pager.prevPage()">&laquo;</a>
        </li>
        <li ng-repeat="n in range(pager.numberOfPages())" 
            ng-class="{current: n==pager.currentPage}">
            <a href ng-bind="n+1" ng-click="pager.currentPage=n">1</a>
        </li>
        <li class="arrow" ng-class="{unavailable: !pager.canNext()}">
            <a href ng-click="pager.nextPage()">&raquo;</a>
        </li>
    </ul>
</div>
</div>

