<div class="row">
    <div class="small-12 columns">
        <h1>Movie List</h1>
    </div>
</div>

<div class="row collapse">
    <div class="small-1 columns">
        <span class="prefix">
            <i class="fi-magnifying-glass" />
        </span>
    </div>
    <div class="small-11 columns">
        <input type="text" ng-model="query.name" ng-change="search()" ></input>
    </div>
</div>

<div class="row">
    <div class="small-6 columns">
        <a id="sort-by" class="small button dropdown" data-dropdown="sort-by-drop">Sort by {{sort.display}}</a>
        <ul id="sort-by-drop" class="f-dropdown" data-dropdown-content>
            <li ng-repeat="item in sort.criteria">
                <a ng-click="sort.set(item)">{{item.display}}</a>
            </li>
        </ul>
    </div>
    <div class="small-6 columns">
        <a id="sort-direction" class="small button" ng-click="sort.toggleReverse()">
            <span ng-show="sort.reverse">Descending <i class="fi-arrow-down"></i></span>
            <span ng-show="!sort.reverse">Ascending <i class="fi-arrow-up"> </i></span>
        </a>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h3>Filters</h3>
        <a id="filter-format" class="small button dropdown" data-dropdown="filter-format-drop">Format: {{filters.format.display}}</a>
        <ul id="filter-format-drop" class="f-dropdown" data-dropdown-content>
            <li ng-repeat="format in formats">
                <a ng-click="filters.format.set(format)">{{format.label}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="row">
<div class="small-12 large-10 large-centered columns">
<ul class="no-bullet">
    <li ng-repeat="movie in filteredItems | orderBy:sort.prop:sort.reverse | startFrom:pager.currentPage*pager.pageSize | limitTo:pager.pageSize">
        <div class="row collapse display">
            <div class="small-2 columns">
                <a href="#/movie/{{movie._id}}"><img ng-src="//d3gtl9l2a4fn1j.cloudfront.net/t/p/w92{{movie.posterPath}}"></img></a>
            </div>
            <div class="small-10 columns">
                <div class="row">
                    <div class="small-12 columns">
                <a href="#/movie/{{movie._id}}">{{movie.name}} ({{movie.releaseDate | parseDate:'YYYY-MM-DD' | date:'yyyy' }})</a>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                    <span> {{movie.tagline}} </span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 large-9 push-3 columns">
                    <span><i class="fi-monitor"></i> {{movie.format}}</span>
                    </div>
                    <div class="small-12 large-3 pull-9 columns">
                    <span><i class="fi-star"></i> {{movie.otherRating | number:1}}/10</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                    <span><i class="fi-pricetag-multiple"></i> {{movie.genres | listNames}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                    <span><i class="fi-torso"></i> {{movie.cast | limitTo:3 | listNames}}</span>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>
</div>
<div class="row">
<div class="small-offset-1 small-10 columns">
    <ul class="pagination">
        <li class="arrow" ng-class="{unavailable: !pager.canPrev()}">
            <a href ng-click="pager.prevPage()">&laquo;</a>
        </li>
        <li ng-repeat="n in range(pager.numberOfPages())" 
            ng-class="{current: n==pager.currentPage}">
            <a href ng-bind="n+1" ng-click="pager.currentPage=n">1</a>
        </li>
        <li class="arrow" ng-class="{unavailable: !pager.canNext()}">
            <a href ng-click="pager.nextPage()">&raquo;</a>
        </li>
    </ul>
</div>
</div>
<div class="row">
    <div class="small-12 columns">
        <p>Last Update: {{movieData.updatedDate | date:medium}}</p>
    </div>
</div>

