<div class="row">
    <div class="small-12 columns">
        <h1>{{movie.name}} <small>({{movie.releaseDate | parseDate:'YYYY-MM-DD' | date:'yyyy' }})</small></h1>
    </div>
</div>

<div class="row">
    <div class="small-12 large-4 columns">
        <img ng-src="http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185{{movie.posterPath}}"></img>
    </div>
    <div class="small-12 large-8 columns">
        <p>{{movie.summary}}</p>
    </div>
</div>


<p>Released: {{movie.releaseDate | parseDate:'YYYY-MM-DD' | date:'longDate'}}</p>
<p>Genres: <span> {{movie.genres | listNames}} </span></p>

